body{
    font-family: 'Open Sans', sans-serif;
}
.color-fondo {
    background: #e83e8c;
}

.suricata-nav{
    height:3.3125rem;
}

.row{
align-content: center;
}


.img-fluid{
    max-height: 6.27rem ;
    min-height: 4.2rem;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { .card{
    width: 18rem;
}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { .card{
    width: 18rem;
}
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { .card{
    width: 18rem;
}
}